<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Food4All</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <div class="container-fluid" style="background-color:#36c423; color:#fff; height:125px;">
        <h1>Food4All</h1>
        <h4>The site that is designed to sort through your friend's and family's food restrictions.</h4>
    </div>

    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="25">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="addDinnerGuest.html" >Add Dinner Guest</a></li>
        <li><a href="#">Search for Dinner Guest</a></li>
        <li><a href="#">Verify Ingredient Restrictions</a></li>
      </ul>
    </nav>
     
        <script src="js/jquery-3.0.0.min.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
